.App {
  text-align: center;
}


.App {
  background-color: #ffffffe2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: rgb(25, 25, 25);

}

h1{
  font-size: 3rem;
  margin: 0;
  text-shadow: 1px 1px 2px #656565;
  text-align: center;
}
